/*ADMIN PAGE STYLES*/

#gradientbackground-admin {
    background-image: linear-gradient(to bottom, #653180, #eb6347, #009ab8);
    height: 1000px;
    color: white;
    height: 100%
}

#admin-sections {
    margin: 0 auto;
    margin-top: 20em;
    width: 100%;
    display: block;
    justify-content:center;
}

.container {
    background-color: #f9f9f93f;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

.container h2 {
    color: #333;
    margin-bottom: 10px;
}

.container table {
    width: 100%;
    border-collapse: collapse;
}

.container table th,
.container table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.container table th {
    background-color: #f2f2f236;
}

.container table td button {
    background-color: #921010;
    color: #fff;
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container table td button:hover {
    background-color: #4091d7;
}

#add_button {
    width: 130px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

input[type="text"] {
    background-color: #f8f8f8;
    color: #000000;
    font-size: 1.1em;
}
